@font-face {
  font-family: "Comfortaa";
  src: url("./resources/Comfortaa.ttf");
}
@font-face {
  font-family: "Gilroy";
  src: url("./resources/Gilroy.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#projects {
  user-select: none;
  width: 100%;
  height: 100%;
}

.button {
  /* Position */
  margin: 24px;
  /* Size */
  width: 180px;
  height: 53px;
  /* Appearance */
  color: white;
  background-color: transparent;
  transition: 0.3s;
  font-family: "Gilroy";
  border-style: solid;
  outline: white;
  border-radius: 5px;
}
.button:hover {
  background: rgba(255, 255, 255, 0.3);
}
.button:active {
  color: black;
  background-color: white;
}

.project-box {
  /* Type */
  display: flex;
  flex-direction: column;
  /* Position */
  justify-content: center;
  align-items: center;
  /* Size */
  width: 100%;
  height: 100%;
  /* Appearance */
  color: white;
  background-color: #2A2F40;
  font-size: 66px;
  font-family: "Comfortaa";
}

.project-description {
  margin: 5px;
  font-size: 14px;
  font-family: "Gilroy";
}

.project-actions {
  display: flex;
  flex-direction: row;
}

#project-wfcodex {
  color: #B29E60;
  background-color: #161620;
}

#project-wfcodex .project-description {
  color: white;
}